<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    <link rel="stylesheet" href="{% static "css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
   
    <title>National Dry Fruits</title>
</head>
<style>

</style>
<body>
   <div>
      {% include "navbar.html" %}
    </div>
      


   <div>
      {% block main-content %}{% endblock main-content %}
    </div>

    


    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/all.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/myscript.js" %}"></script>
    
</body>
</html>